<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>To Do List</h1>
    <ol>
        <% for(let i of Task_list) { %>
            <li class="tasks">
                <div class="answer">
                <p>
                    <%= i.task %>
                </p>
                </div>
            <div class="delete-button">
                <a href="/delete-task/?id=<%=i._id %>">
                    <i class ="fas fa-check"></i>
                </a>
            </div>
            </li>


            <%}%>
    </ol>

    <form action="/create-task" method="post">
        <input type="text" name="task" id="taskid" placeholder="Enter Your Task" required>
        <input type="submit" value="Add Task">
    </form>
</body>

</html>